faster-whisper >= 0.10.0
sounddevice >= 0.4.6
eel >= 0.15.3
soundfile >= 0.12.1
websockets >= 11.0.3
librosa >= 0.10.0.post2
openai >= 0.28.1
PyAudio >= 0.2.14
langchain >= 0.1.16
langchain-anthropic >= 0.1.11
python-dotenv >= 1.0.1
pydub >= 0.25.1